.jumbotron {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0fb4e7+0,a9e4f7+66,a9e4f7+100 */
    background: #0fb4e7;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #0fb4e7 0%, #a9e4f7 66%, #a9e4f7 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #0fb4e7 0%, #a9e4f7 66%, #a9e4f7 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #0fb4e7 0%, #a9e4f7 66%, #a9e4f7 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0fb4e7', endColorstr='#a9e4f7', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    color: white;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0fb4e7+0,a9e4f7+66,42cbf4+99 */
    background: #0fb4e7;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #0fb4e7 0%, #a9e4f7 66%, #42cbf4 99%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #0fb4e7 0%, #a9e4f7 66%, #42cbf4 99%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #0fb4e7 0%, #a9e4f7 66%, #42cbf4 99%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0fb4e7', endColorstr='#42cbf4', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    margin-top: 10px;
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
}

footer>.row>div>a,
address {
    color: white;
    text-decoration: none;
}

.footer-address-icon {
    padding-right: 10px;
}